$bg-sidebar-left-header:        #363D45;
$bg-sidebar-left-nav:           #3E4750;
$bg-main-section-header:        #EBAF3D;
$bg-main-section-content:       #FCFCFC;
$bg-sidebar-right-header:       #F6F6F6;
$bg-sidebar-right-content:      #FFFFFF;

$border-color-button-default:   #95C1C7;
$border-color-sidebar-left-nav: #858D98;

$font-size-base:                12px;

$text-color-button-default:     #95C1C7;
$text-color-logo:               #FFFFFF;
$text-color-sidebar-left-nav:   #858D98;
